<section class="articleList" >
    <h3>{{model.componentTitle}}</h3>
    <div class="row" data-ng-repeat="article in model.articles" ng-click="model.openArticle(article);"
         data-ng-class="article.id == model.selectedArticle.id ? 'selected' : ''">
        <div class="col-md-3">
            <img width="90" height="90" data-ng-src="{{article.imageUrl}}"/>
        </div>
        <div class="col-md-9">
            <h5>{{article.title}}</h5>
            <div>{{article.text}}</div>
            <a href="">{{article.commentsCount}} comments</a>
        </div>
    </div>
    <img src="../../assets/icon-128x128.png" data-ng-show="model.showLoading" />
    <button class="btn btn-default" data-ng-if="model.showLoadButton" data-ng-click="model.loadMore()">Load Next</button>
</section>
