<section class="article-list" >
    <h3>{{model.componentTitle}}</h3>
    <div class="row article-item" data-ng-repeat="article in model.articles" ng-click="model.openArticle(article);"
         data-ng-class="article.id == model.selectedArticle.id ? 'selected' : ''">
        <div class="col-md-4 thumb1">
            <div class="img" style="background-image:url('{{article.imageUrl}}')"></div>
        </div>
        <div class="col-md-8 article-content">
            <h5>{{article.title}}</h5>
            <div class="article-desc">{{article.text}}</div>
            <div class="article-comments">
                <a href="">{{article.commentsCount}} comments</a>
            </div>
        </div>
    </div>
    <div class="load-more-div">
        <button class="btn btn-default load-more-btn" data-ng-if="model.showLoadButton" data-ng-click="model.loadMore()">Load Next</button>
        <img class="loading" src="../../assets/loading.gif" data-ng-show="model.showLoading" />
    </div>
</section>
