<div class="row profile">
	<div class="col-md-5">
		<div class="article-sidebar">
            <h3>Articles List</h3>
            <div class="row">
                <div class="col-md-3">
                    <img width="90" src="" />
                </div>
                <div class="col-md-9">
                    <div >First Article</div>
                    <div> Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text </div>
                    <a href="" >comments</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img width="90" src="" />
                </div>
                <div class="col-md-9">
                    <div >Second Article</div>
                    <div> Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text </div>
                    <a href="" >comments</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img width="90" src="" />
                </div>
                <div class="col-md-9">
                    <div >Third Article</div>
                    <div> Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text </div>
                    <a href="" >comments</a>
                </div>
            </div>
            <button>Load Next</button>
		</div>
	</div>
	<div class="col-md-7">
		<div class="article-content">
			<h2>First article</h2>
            <div class="col-md-12">
                <img height="90" src="" />
            </div>
            <div class="col-md-12">
                Description - Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
            </div>
            <div class="col-md-12">
                <h4>Comments</h4>
                <textarea placeholder="Body of comment"></textarea>
                <comment></comment>
            </div>
		</div>
	</div>
</div>