<main>
    <div class="row">
        <div class="col-xs-5">
            <article-list articles="model.articles"
                          show-loading="model.showLoading"
                          load-articles="model.loadArticles()"
                          show-load-button="model.showLoadButton"
                          selected-article="model.selectedArticle"
                    ></article-list>
        </div>
        <div class="col-xs-7" id="article-content">
            <div ui-view selected-article="model.selectedArticle"></div>
        </div>
    </div>
</main>
